@use '../../sass/_mixins.scss' as *;

input {
    min-width: 240px;
    height: 30px;
    text-align: center;
    border:1px solid #854D27; 

    @include respond(tablet) {
        min-width: 200px;
    }
    @include respond(mobile) {
        min-width: 180px;
    }
}
