@import '../../sass/_mixins.scss';

.basic {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid var(--color-black);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
  color: var(--color-white);
  font-family: IBM Plex Mono;

  &:after {
    content: '';
    background-color: var(--color-teal);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  &:hover:after {
    top: 0px;
    left: 0px;
    background-color: var(--color-navy);
  }

  @include responsive(tablet) {
    padding: 13px 50px 13px;
  }
}

.session {
  width: 160px;
  height: 50px;
  background-color: var(--color-beige);
  border: 3px solid var(--color-sage);
  color: var(--color-black);
  border-radius: 8px;
  font-size: 1.1rem;
  font-family: IBM Plex Mono;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-teal);
    border: 3px solid var(--color-beige);
    cursor: pointer;
  }

  @include responsive(mobile) {
    width: 110px;
    height: 40px;
    font-size: 0.8rem;
  }
}

.pagination {
  background-color: var(--color-white);
  width: 3rem;
  height: 3rem;
  border: 3px solid var(--color-black);
  border-radius: 0.7rem;
  transition: 0.3s all ease-in-out;

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--color-navy);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-teal);
  }
}
