@use '../../sass/_mixins.scss' as *;

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: 1rem;
}

.title {
    font-size: 2rem;
}

.list {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination {
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    @include respond(mobile) {
        width: 100%;
        gap: 1.4rem;
    }

    &__button {
        background-color: var(--color-white);
        width: 3rem;
        height: 3rem;
        border: 3px solid var(--color-black);
        border-radius: 0.7rem;
        transition: .3s all ease-in-out;

        &__icon {
            width: 1.6rem;
            height: 1.6rem;
            color: var(--color-navy);
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: var(--color-teal);
        }
    }

    &__text {
        font-size: 1.2rem;
        font-weight: bold;

        @include respond(mobile) {
            font-size: 1rem;
        }
    }
}