@use '../../sass/_mixins.scss' as *;

.main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &__title {
        font-size: 3.5rem;
        color: var(--color-black);
        text-align: center;

        @include respond(tablet) {
            font-size: 2.5rem;
        }
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}