:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  --color-navy: #1C315E;
  --color-teal: #227C70;
  --color-sage: #88A47C;
  --color-beige: #E6E2C3;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-error: #d50505;
}

body {
  background-color: var(--color-sage);
  box-sizing: border-box;
  margin: 0 auto;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./assets/IBMPlexMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Aldrich";
  src: url("./assets/Aldrich-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lekton";
  src: url("./assets/Lekton-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Farsan";
  src: url("./assets/Farsan-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}